/* ---- */

:root {
  --orange: #f3a002;
  --color-footer-haeder: #df5413;
  --button-title: #55aa7c;
  --blanco: #fff;
  --carte-menu: #fbf5af;
}

/* ---- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  block-size: auto;
  vertical-align: middle;
}

h1 {
  text-align: center;
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
}

.evenements,
.vegan,
.valeurs {
  background: var(--orange);
}

.text-white {
  color: var(--blanco);
}

.title-orange {
  color: var(--blanco);
}

.burger-menu {
  background: var(--color-footer-haeder);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

span {
  color: var(--button-title);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .header-nav {
    display: flex;
    justify-content: end;
    padding: 17px 5px;
  }

  .header-nav > nav > a {
    display: none;
  }

  .burger-menu.is-close {
    display: none;
  }

  .burger-menu-open {
    color: var(--button-title);
    background: var(--blanco);
    text-transform: uppercase;
    display: none;
  }

  .burger-menu-open.is-open {
    display: block;
  }

  .nav-burger-open {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 75px;
    padding-left: 20px;
    color: var(--button-title);
    text-transform: uppercase;
  }

  .nav-burger-open > a {
    padding-bottom: 20px;
  }

  .reseau-burger > a > img {
    padding-right: 5px;
    padding-left: 20px;
  }

  .newsletter-burger {
    background: var(--color-footer-haeder);
    padding-bottom: 34px;
  }

  .newsletter-burger > .title-footer {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
  }

  .newsletter-burger > .mail-box {
    margin: 0 20px;
    background: var(--blanco);
    padding: 6px 11px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    text-transform: lowercase;
  }

  .img-header {
    background-image: url(../img/bg-header.png);
    background-repeat: no-repeat;
    padding: 50px 0;
  }

  h1 {
    color: var(--blanco);
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding-bottom: 131px;
    padding-top: 75px;
  }

  .logo-burger {
    color: var(--color-footer-haeder);
    padding-top: 10px;
    padding-bottom: 20px;
  }

  h2 {
    overflow: hidden;
    color: var(--orange);
    font-family: Inter;
    text-transform: uppercase;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 45px;
    margin-bottom: 20px;
  }

  .block-text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 92px;
  }

  .evenements {
    padding-bottom: 29px;
  }

  .title-orange {
    color: var(--blanco);
    margin-top: 19px;
    margin-bottom: 23px;
  }

  .section-evenement {
    background: var(--blanco);
    margin-bottom: 29px;
  }

  .flex-section-evenement {
    display: flex;
    flex-direction: column;
  }

  h3 {
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding-top: 12px;
    padding-left: 9px;
  }

  .date {
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    padding-left: 9px;
    padding-bottom: 15px;
  }

  .icon-arrow {
    border-radius: 5px;
    background: var(--button-title);
    padding: 6px 11px 4px;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-right: 15px;
  }

  h4 {
    display: none;
  }

  .text-evenement {
    display: none;
  }

  .button {
    background: var(--button-title);
    color: var(--blanco);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 10px 39px;
    font-size: 14px;
    border-radius: 10px;
    display: block;
    text-align: center;
  }

  .evenements-button {
    margin-left: 16px;
    margin-right: 0;
  }

  .title {
    margin-top: 84px;
  }

  .menu-carte {
    background: var(--carte-menu);
    padding: 35px 15px 6px;
    margin-bottom: 27px;
  }

  h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--button-title);
  }

  .text-menu {
    color: var(--orange);
    font-size: 12px;
    margin-left: 80px;
    margin-bottom: 27px;
  }

  .menu-two {
    display: none;
  }

  .menu-two.is-hidden {
    display: block;
  }

  .button-menu {
    margin-bottom: 92px;
    margin-left: 1px;
  }

  .img-valeurs {
    width: calc(100% + 24px);
    margin-left: -12px;
  }

  .img-vegan {
    width: calc(100% + 24px);
    margin-left: -12px;
  }

  .text-white {
    margin-bottom: 24px;
    color: var(--blanco);
  }

  .text-source {
    line-height: 40px;
  }

  .source-two {
    margin-bottom: 79px;
  }

  .contact {
    padding-bottom: 109px;
  }

  .img-maps {
    width: 100%;
  }

  hr {
    border: 2px solid var(--orange);
    margin-top: 21px;
    margin-bottom: 3px;
  }

  .hr-maps {
    margin-top: 93px;
  }

  .title-contact {
    color: var(--button-title);
    font-size: 18px;
    font-weight: 600;
    padding: 14px 0 14px;
  }

  h6 {
    color: var(--text-black);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 18px;
    padding-top: 14px;
  }

  .social-network > a {
    padding-right: 12px;
  }

  footer {
    background: var(--color-footer-haeder);
    padding-bottom: 23px;
  }

  .title-footer {
    color: var(--blanco);
    margin-bottom: 40px;
    margin-top: 24px;
  }

  .mail-box {
    display: flex;
    color: var(--color-footer-haeder);
    background: var(--blanco);
    padding: 6px 11px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
  }

  .footer-button {
    color: var(--blanco);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: center;
    display: block;
  }

  .desktop {
    display: none;
  }

  .main.is-covert,
  .img-header.is-covert,
  .footer.is-covert,
  .burger-menu-open.is-covert {
    display: none;
  }

  .main.is-visible,
  .img-header.is-visible,
  .footer.is-visible,
  .burger-menu.is-visible,
  .evenements-is-visible {
    display: block;
  }
}

@media (min-width: 501px) and (max-width: 2000px) {
  .img-header {
    background-image: url(../img/header_bg_desktop.png);
  }

  h1 {
    color: var(--blanco);
    text-align: center;
    font-family: Paytone One;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .burger-menu-open {
    display: none;
  }
}
